nav
{
top:0;
width:100%;
position:fixed;
display:flex;
}
nav a{
background:black;
padding:12px;
width:100%;
height:20px;
text-decoration:none;
color:white;
text-align:center;
}
nav a:hover
{
background:lightgray;
color:#000;
}
img{
top:0;
width:100%;
}
.header-font{
text-align:center;
padding:14px;
background:rgb(50% 20% 30%);
color:white;
}
h3{
margin-top:100px;
text-align:center;
font-size:30px;
background:black;
color:white;
}
.p{
font-size:20px;
margin-right:180px;
margin-left:180px;
text-align:justify;
line-height:40px;
}
.b{
margin-left:180px;
margin-right:180px;
margin-top:70px;
font-size:20px;
text-align:justify;
line-height:50px;
border-left:8px solid lightgray;
background:#f2f2f2;
box-size:20px;
}
aside{
padding:60px;
margin:90px;
}
figcaption{
font-weight:bold;
font-size:20px;
}
.k{
margin:-20px;;
text-indent:170px;
}
.s{
font-weight:bold;
line-height:80px;
font-size:20px;
}
.c{
margin:-48px;
text-indent:140px;
}
h4{
font-size:20px;
padding:5px;
margin-top:100px;
margin-bottom:90px;
text-align:center;
background:black;
color:white;
}
article
{
display:flex;
}
article a{
font-weight:bold;
background:midnightblue;
padding:10px;
width:500px;
height:30px;
text-decoration:none;
color:white;
text-align:center;
box-shadow:0 4px 6px pink;
}
header{
margin:2px;
height:510px;
overflow-y:auto;
box-shadow:0 4px 6px gray;
}
#img{
margin-top:70px;
margin-left:100px;
width:80%;
}
.map{
background:black;
color:white;
font-size:20px;
text-align:center;
}
.footer{
margin-left:100px;
margin-bottom:-50px;
font-size:20px;
}
.fyi{
font-size:20px;
margin-left:100px;
margin-bottom:-50px;
}
.reserve{
font-size:20px;
margin-top:70px;
margin-left:100px;
margin-bottom:50px;
}
input[type="text"]{
width:100%;
padding:10px;
}
input[type="number"]{
width:100%;
padding:10px;
}
input[type="datetime-local"]{
width:100%;
padding:10px;
}
button{
background:black;
color:white;
}